:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-logo: #3003fc;
  --bg-primary: #23232e;
  --bg-secondary: #100423;
  --detail: #3003fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--bg-secondary);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--detail);
}

main {
  margin-left: 5rem;
  padding: 0;
}

/*------------------------------------------CONTACTO-------------------------------------------*/

.registro {
  border: 1px solid --bg-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title-contact {
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  letter-spacing: 0.3ch;
}

.form-register {
  width: 400px;
  background-color: var(--bg-secondary);
  padding: 3rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 100%;
  background: var(--bg-primary);
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #3003fc;
  font-size: 1rem;
  color: #fff;
}

fieldset {
  margin-bottom: 2rem;
  border: 1px solid #3003fc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  color: var(--text-primary);
  padding: 1rem;
}
legend {
  color: var(--text-secondary);
  font-size: 1rem;
  padding: 1rem;
}

.botons {
  width: 100%;
  border: none;
  background: var(--bg-primary);
  padding: 17px;
  font-size: 16px;
  color: #fff;
  transition: 1s;
}

.botons:hover {
  background-color: var(--text-logo);
  cursor: pointer;
}

/*--------------------------------------------VALIDACION-----------------------------------------------------------*/
.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: var(--text-logo);
  padding-top: 2rem;
}

#valNombre {
  font-size: 1rem;
  color: var(--text-secondary);
}

.error {
  color: var(--text-secondary);
  display: block;
  font-size: 1rem;
}
#error {
  color: var(--text-secondary);
  display: block;
}

/*------------------------------------------------------------------------*/

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.fa-secondary {
  color: var(--detail);
  transition: var(--transition-speed);
}

.portada {
  background-color: #ededed;
  background-image: url(/imgs/ader-error-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.portada-logo {
  text-align: center;
  padding-top: 1%;
}

.logo a {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--text-logo);
  font-size: 3rem;
  letter-spacing: 0.3ch;
  width: 100%;
  text-decoration: none;
}

.portada-contenedor {
  min-height: 100vh;
}

/* --- SHOP --- */

.shop-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px hsl(0 4% 2% / 10%);
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 6rem;
}

.item-tarjeta:hover {
  padding: 0.2rem;
  transition: 300ms;
  cursor: pointer;
}

.item-tarjeta-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.item-nombre {
  margin-bottom: 0.3rem;
}
#apiContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: var(--text-secondary);
}

.carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 1.2rem;
}

.carrito-icon {
  padding-right: 2rem;
}

.add-cart:hover {
  color: var(--detail);
}

.section-titulo {
  padding-left: 1rem;
  font-size: 1rem;
}

.iframe-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.iframe-titulo {
  color: var(--bg-secondary);
  letter-spacing: 0.2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  max-width: 400px;
}

footer {
  background-color: #f1f1f1;
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.footer-links {
  display: inline-flex;
}

footer a {
  text-decoration: none;
  color: var(--detail);
  margin: 5rem;
  opacity: 0.5;
}

footer a:hover {
  opacity: 1;
  transition: 500ms;
}

footer p {
  margin-top: 1rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.footer-disclaimer {
  opacity: 0.8;
  font-size: 0.7rem;
}

footer svg {
  max-width: 1rem;
  margin: auto;
}

/* ----------- Media Query ----------- */

/* Pantalas Grandes +600px */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}

/* Pantallas Chicas hasta 600px */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  footer {
    margin-bottom: 5rem;
  }
}
